#sideNav {
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .navbar-toggler {
    border-color: transparent;

    &:focus {
      //outline-color: lighten($primary, 15%);
      outline-color: transparent;
    }

    .btn-line {
      display:block;
      width: 28px;
      height: 3px;
      margin: 0 0 5px 5px;
      background: $accent;
    }

    &:not(.collapsed) {
      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
}

#myImg{
  width:45px;
  height: 45px;
}

@media (min-width: 992px) {

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;

      .img-profile {
        max-width: 12.5rem;
        max-height: 12.5rem;
        border: double 2px transparent;
        background-image: linear-gradient(white, white),
        linear-gradient(to right, #FF0059, #FF0003, #ff5000);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }

    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        flex-direction: column;

        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}


