section.resume-section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    //.resume-date {
    //  min-width: 10rem;
    //}
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .card {
      flex: 0 0 13rem;
      margin-right: 1rem;
      //border-bottom: lighten($accent, 5) 5px solid;
      border: 0;
      border-bottom: 5px solid;
      border-image: linear-gradient(to right, #FF0059, #FF0003, #FF5000) 1 stretch;

      &:hover {
        opacity: 0.9;
        border: $accent 2px solid;
        border-image: linear-gradient(to right, #FF0059, #FF0003, #FF5000) 1 stretch;
      }
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

// to create flexbox and allow user to scroll left to right about project
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    .scrolling-wrapper-flexbox {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      .card {
        flex: 0 0 18rem;
      }
    }
  }
}

// scss of the main footer
#main-footer {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
