section.resume-section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    //.resume-date {
    //  min-width: 10rem;
    //}
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .card {
      flex: 0 0 15rem;
      margin: 1rem;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    .scrolling-wrapper-flexbox {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      .card {
        flex: 0 0 18rem;
        margin: 1rem;
      }
    }
  }
}
